.image{
    text-align: center;   
}
p{
font-size:18px ;
}
.display{
    text-align: center;
}
nav{
    display: inline-block;
    padding: 10px;
    padding-right: 40%;
    background-color: pink;
    text-align: center;
    
}
h3{
    color: palevioletred;
}
li{
    text-align: justify;
    padding:10px   
}
#blog{
    color: palevioletred;
}
#vlog{
    color :palevioletred
}
h2{
    color:palevioletred;
}
